.logo {
    min-width: 200px;
    height: auto;
    width: 18vw;
    margin: 1rem; 
}

.MuiPaper-root {
    background-color: #f19ccc !important;
    width: 30vw;
}

@media (max-width: 599px) {
    .MuiPaper-root {
        width: 100vw;
    }
}
