.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.form > input{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 3rem;
    background-color: #F7F0CA;
}